<div class="login-page">
  <h1>Share Patient Report</h1>
  <form (submit) = "shareReport($event)">
      <select class="form-control p-2 m-2" id="exampleFormControlSelect1">
          <option selected="" value="Choose a Doctor to Share with">Choose a Doctor by Id </option>
          <option *ngFor="let doctor of doctors"        
              [attr.value]="doctor.DoctorId">{{doctor.Name}}</option>
      </select>
      <select class="form-control p-2 m-2" id="exampleFormControlSelect1">
          <option selected="" value="">Choose the report by id</option>
          <option *ngFor="let report of patientReport"        
              [attr.value]="report.reportId">{{report.reportMessage}}</option>
      </select>
      <!-- <input type="text" class="form-control input-underline input-lg" id ="" placeholder="{{''}}"/> -->
    <button class="btn rounded-btn" type="submit" value = "{{ 'Share' }}">
      <i class="fa fa-spinner fa-spin" *ngIf="loading"></i>Share
    </button>
  </form>
</div>
