<div class="login-page">
        <h1>Create appointment</h1> 
        <br>    
        <br>
        <form (submit)="registerAppointment($event)" >
                <div class="col-md-4">
                                <select class="form-control" id="exampleFormControlSelect1">
                                                <option *ngFor="let dropdown of doctors"        
                                                    [attr.value]="dropdown.DoctorId">{{dropdown.Name}}</option>
                                </select>   
                                <br>    
                             
                                <ngb-datepicker #dp [minDate]="minDate" [(ngModel)]="model" (navigate)="date = $event.next" [ngModelOptions]="{standalone: true}"></ngb-datepicker>
                                <br>    
                                <br>    
                                <button class="btn rounded-btn" type="submit" value = "{{ 'Create Appointment' }}">
                                                <i class="fa fa-spinner fa-spin" *ngIf="loading"></i>Create Appointment
                                </button>
                                
                </div>
        </form>
</div> 